labs/Developer Services Lesson 4 - Publish SmartDocs/se_bootcamp_Hospitality_Product_WADL.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
	<resources base="http://demo37-test.apigee.net">
		<resource path="/sm/v1/hotels/">
			<method name="GET" apigee:displayName="Get Hotels">
				<apigee:tags>
					<apigee:tag primary="true">hotels</apigee:tag>
				</apigee:tags>
			</method>
			<param name="zipcode" style="query"/>
			<param name="radius" style="query"/>
			<param name="Authorization" style="header"/>
		</resource>
		<resource path="/sm/v1/hotels/{hotel-uuid}">
			<method name="GET" apigee:displayName="Get Individual Hotels">
				<apigee:tags>
					<apigee:tag primary="true">hotels</apigee:tag>
				</apigee:tags>
			</method>
			<param name="zipcode" style="query"/>
			<param name="radius" style="query"/>
			<param name="Authorization" style="header"/>
		</resource>
		<resource path="/oauth/client_credential/accesstoken">
			<method name="POST" apigee:displayName="Get Hotels">
				<apigee:tags>
					<apigee:tag primary="true">auth</apigee:tag>
				</apigee:tags>
				<request>
					<!--param default="admin" name="username" required="true"
						style="template" type="xsd:string" />
					<param default="Apigee_1" name="password" required="true"
						style="template" type="xsd:string" /-->

					<param default="application/x-www-form-urlencoded" name="Content-Type" required="true" style="header" type="xsd:string" />

					<representation>
                        <!-- This section describes the body content, i.e. the payload. -->
                        <!-- Set required to true to indicate the content as mandatory in the Console -->
                        <apigee:payload required="true">
                            <!-- Docs are optional, but recommended. -->
                            <doc apigee:url="http://api.mydomain.com/doc/resource3/method1">
                                Content description.
                            </doc>
                            <!-- Body content. -->
                            <apigee:content>
                                <![CDATA[client_id=UFQYDB6aGGyRQijQ07NAspkG5DRA5fwl&client_secret=UFz5lH52JJld3ZMI]]>
                            </apigee:content>
                        </apigee:payload>
                    </representation>
				</request>
			</method>
			
		</resource>
	</resources>
</application>
